<header>
  <h2>The Count presents... your official count of the word
    "<span id="word"><%= @keyword %></span>":</h2>
</header>

<section>
  <img id="sesame" src="count.jpg" alt="The Count, from Sesame Street,
    gives the results.">
  <div id="wrapper">
    <p><strong><%= @frequency %>!</strong></p>
    <p>I count <%= @frequency %> instances of <%= @keyword %>! </p>
    <p> Ah! Ah! Ahh! </p>
  </div>
    <p id="text">  Your text: <%= @sentence %> </p>

</section>

<footer>
  <p> This website has been brought to you be the letters "R" and "B", the number
    "<%= @frequency %>", and Benjamin Herson at the Epicodus workshop.</p>
</footer>
