<header>
<h2>The Count presents...your official count of the word
  "<span #id="word"><%= @keyword %></span>".</h2>
</header>

<section>
<p> <%= @frequency %>! I count <%= @frequency %> instance(s) of <%= @keyword %>!
  Ah! Ah! Ahh! </p>
<p>  Your text: <%= @sentence %> </p>
</section>

<footer>
  <p> This website has been brought to you be the letters "R" and "B", the number
    "<%= @frequency %>", and Benjamin Herson here at the Epicodus workshop.</p>
</footer>
